<!DOCTYPE html>
<html lang="en">
    <body>
        <h2> Login </h2>
        <form action="/login" method="post">
            <input type="email" name="login[email]" id="">
            <input type="password" name="login[password]" id="">
            <input type="submit" value="Click me!">
        </form>

        <h2> Sign Up </h2>
        <form action="/signup" method="post">
            <input type="email" name="signup[email]" id="">
            <input type="password" name="signup[password]" id="">
            <input type="submit" value="Click me!">
        </form>
    </body>
</html>